zend_extension={{ php_xdebug_extension }}

[xdebug]
xdebug.remote_enable = {{ php_xdebug_remote_enable }}
xdebug.remote_connect_back = {{ php_xdebug_remote_connect_back }}
xdebug.remote_autostart = {{ php_xdebug_remote_autostart }}
xdebug.remote_host = {{ php_xdebug_remote_host }}
xdebug.remote_port = {{ php_xdebug_remote_port }}
xdebug.idekey = {{ php_xdebug_idekey }}
